# IDE files
.idea/
.vscode/

# Flutter/Dart files
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/
**/android/.gradle/
**/android/app/build/
**/android/build/
**/android/gradle/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.idea/
**/android/.cxx/
**/lib/generated_plugin_registrant.dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
/build/
.DS_Store
*.iml

# Firebase files
**/ios/Runner/GoogleService-Info.plist
**/android/app/google-services.json

# Other files
doc/api/
doc/api/
doc/api/
doc/api/
*.log
*.log.*
*.log/*
*.tmp
*.bak
*.swp
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.bak
*.pyc
*.db
*.sqlite3
*.DS_Store
*.vsix
.vs/
